body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

#explorer {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  border-left: 1px solid #ccc;
  overflow: scroll;
  ul {
    list-style-type: none;
    padding-inline-start: 1em;
    li {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

#editor {
  flex: 3;
  height: 100vh;
  padding: 10px;
  font-size: 16px;
}

#previewer {
  flex: 3;
  height: 100vh;
  padding: 10px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
}

.folder {
  &::before {
    content: url("./images/folder.svg");
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
  }
}

.file {
  &::before {
    content: url("./images/file.svg");
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
  }
}
