body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 960px;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

#explorer {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  border-left: 1px solid #ccc;
  overflow: auto;
  min-width: 180px;
  ul {
    list-style-type: none;
    padding-inline-start: 1em;
    li {
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      .selected {
        background-color: #c1d4f3;
      }
    }
    li[contenteditable="true"] {
      border: "1px solid black";
      cursor: "text";
    }
    li[contenteditable="false"] {
      border: none;
    }
  }
}

#global-search-input {
  width: 100%;
  margin-top: 2px;
  padding: 2px;
  border-left: 0;
  border-right: 0;
}

#main {
  flex: 4;
  padding: 0, 10px;
  border-left: 1px solid #ccc;
}

#editor {
  width: 100%;
  height: 100vh;
  padding: 5px;
  font-size: 16px;
}

#previewer {
  width: 100%;
  height: 100vh;
  padding: 10px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
  word-wrap: break-word; /* Break long words to fit within the container */
  word-break: break-word; /* Ensure breaking for extremely long words */
  white-space: normal; /* Allow text to wrap onto the next line */
  p {
    width: 100%;
    word-wrap: break-word; /* Break long words to fit within the container */
    word-break: break-word; /* Ensure breaking for extremely long words */
    white-space: normal; /* Allow text to wrap onto the next line */
    img {
      width: 100vb;
    }
  }
}

code {
  display: inline;
  width: 100vb;
  white-space: pre-wrap;
  word-break: break-word; /* Ensure breaking for extremely long */
  word-wrap: break-word;
}

#local-search-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 0 1px 0 0;
}

.folder {
  &::before {
    content: url("./images/folder.svg");
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
  }
}

.folder-open {
  &::before {
    content: url("./images/folder-open.svg");
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
  }
}

.file {
  &::before {
    content: url("./images/file.svg");
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
  }
}

code {
  background-color: #f4f4f4;
  padding: 2px;
}

pre {
  margin: 10px 0;
  white-space: pre-wrap;
  & code {
    display: block;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: auto;
  }
}

mark {
  background: yellow;
}

mark.current {
  background: orange;
}
